*{
	margin:0;
	padding:0;
}
body{
	background-color:#595959;
}
#baymax{
	margin:30px auto;
	max-width:600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.head{
	height:64px;
	width:100px;
	border-radius:50%;
	background-color: #fff;
	border-bottom: 3px solid rgb(89, 89, 89);
	position:relative;
	bottom: -15px;
	z-index:1;
}
.eye,.eye2,.mouth {
	position: absolute;
	left:50%;
	top:30%;
}
.eye,.eye2{
	width:11px;
	height:13px;
	background-color:#282828;
	border-radius:50%;
	transform:rotate(8deg);
}
.eye {
	left:20px;
}
.eye2{
	transform: rotate(-8deg);
	left: 69px;
}
.mouth{
	width:38px;
	height:1.5px;
	background:#282828;
	margin-left:-19px;
	margin-top: 5px;
}

.torso{
	height:200px;
	width:180px;
	position:relative;
	z-index:0;
}
.torso,.belly {
	background:#fff;
	border-radius:47%;
	border:5px solid #e0e0e0;
	border-top:none;
}
.belly{
	height:300px;
	width:245px;
	position:relative;
	left: 0;
    top: -138px;
	z-index:2;
}
.cover{
	width:190px;
	background:#fff;
	height:150px;
	margin:0 auto;
	position:absolute;
	left: 26px;
    top: -20px;
	border-radius:50%;
	z-index:3;
}
.heart{
	width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 5px 2px #ccc inset;
    border: 1px solid #ccc;
    left: 65%;
    top: 13%;
}

.right-arm,.left-arm{
	position:absolute;
	z-index:-1;
	height:270px;
	width:120px;
	background-color:#fff;
	border-radius:50%;
	transform:rotate(20deg);
}
.left-arm {
	left: 38%;
    top: 16%;
}
.right-arm{
	transform:rotate(-20deg);
	right: 38%;
    top: 16%;
}
.l-bigfinger,.r-bigfinger{
	position:absolute;
	background-color: #fff;
	height:60px;
	width:20px;
	border-radius:50%;
    transform:rotate(-40deg);
	top: 88%;
}
.l-bigfinger {
	left: 35%;
}
.r-bigfinger{
	transform:rotate(40deg);
    right: 35%;
}
.l-smallfinger,.r-smallfinger{
	position:absolute;
	background-color: #fff;
	height:35px;
	width:15px;
	border-radius:50%;
	top: 92%;
	transform:rotate(-40deg);
}
.l-smallfinger {
	left: 53%;
}
.r-smallfinger{	
    right: 53%;
	transform:rotate(40deg);
}
.left-leg,.right-leg{
	height:170px;
	width:90px;
	border-radius:40% 30% 10% 45%;
	background-color: #fff;
	transform:rotate(-1deg);
	z-index:-2;
	position:absolute;
	top:55%;
}
.left-leg {
	left: 43.2%;
}
.right-leg{
    right:43.2%;
	border-radius:30% 40% 45% 10%;
	transform:rotate(1deg);
}
